* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }
   /* header */
   .header{
    background-color: rgb(227, 234, 240);
    
   }

  .upper-header{
    line-height: 100px;
    padding: 10px;
  }

  .logo{
    height: 100px;
    vertical-align: middle;
  }

  .scr-logo{
    display: inline;
    vertical-align: middle;
    font-size: 50px;
  }
  
  
   /* fine header */
  .button-1{
    color: aliceblue;
    background-color: rgb(43, 137, 226);
    border-radius: 30px;
    text-align: center;
    border: none;

    
   
    
  }


  

  .bottoni{
    margin: 50px;
  }

  

    
  
 
    .lista-1{
        margin: 30px;
        list-style: none;


    }



  


  .check{
    display: inline-block;
    color: chartreuse;
    border-radius: 30px;
   border: 1px solid green;
   text-align: center;
   width: 30px;
   height: 30px;
   vertical-align: middle;
   
   
    




  }
  .strong{
    font-size: 30px;
    
    


  }
  #strong-2{
    font-size: 30;


  }

  .button-blu{
    color: aliceblue;
    background-color: rgb(43, 137, 226);
    border-radius: 30px;
    text-align: center;
    border: none;

  }