* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

   body{
    background-color: gray;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }

  
  .btn{
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
    font-size: .8rem;

    }

    .btn.btn-primary{
      background-color: rgb(88, 199, 243);
      color: white;
      border: 1px solid transparent;
    }

    .btn.btn-secondary{
      background-color: rgb(165, 170, 170);
      color: white;
      border: 1px solid transparent;


    }
      
   /* header */
   
   .page-header{
    background-color: white;
    line-height: 90px;
    
    
   }
   .card{
    background-color: white;
    margin-top: 100px;
   }

   .logo,.titolo-logo{
    vertical-align: middle;
    display: inline-block;
    margin-left: 30px;
   }

   .card-header{
    padding: 20px;
    border-bottom:white;
   }

   .card-body{
    padding:20px ;
    border-radius: 15px;

   }

   /*section*/



   .todo-section{
    margin: 30px 0px;
   }

   .lista-primary{
    list-style-type: none;
    

   }

   .lista-secondary{
    margin: 10px;

   }
   .mark{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    border: solid rgb(41, 210, 41);
    color: green;


   }

   .mark.mark-fail{
    border: solid rgb(226, 20, 20);
    color: rgb(205, 46, 21);

  

   }

   .mark.mark-success{
    border: solid rgb(41, 210, 41);
    color: green;

   }

   .label{
    display: inline-block;
    padding: 5px;
    font-size: .7rem;
    font-weight: bold;
    background-color: dimgray;
    color: white;
    border-radius: 5px;



   }

